@using Biblioteca_Aziendale.Controllers

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Biblioteca Aziendale - Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Ciao @LoginController.utenteLoggato.Nome</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


            <!-- Nav Item - Pages Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/Login/ElencoAdmin" aria-expanded="true" aria-controls="collapseTwo">
                    <span>Elenco Libri</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Login/FormInserimentoAdmin" aria-expanded="true" aria-controls="collapseTwo">
                    <span>Inserisci Nuova Copia</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/ElencoPrestiti/" aria-expanded="true" aria-controls="collapseTwo">
                    <span>Visualizza Prestiti</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Impostazioni
            </div>

            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item" style="">

                <a style="align-content:center;" class="btn btn-danger btn-sm nav-link" onclick="return confirm('Sei sicuro di voler uscire?');" href="/Login/Logout">Esci</a>
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        <form style="margin-left:10px;margin-top:10px;" action="/Login/NuovoLibro">
                            <div class="mb-3">

                                <label class="form-label">Titolo</label>
                                <input type="text" class="form-control" id="titolo" name="titolo" size="50">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ISBN</label>
                                <input type="text" class="form-control" id="isbn" name="isbn">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descrizione</label>
                                <input type="text" class="form-control" id="descrizione" name="descrizione">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Copertina</label>
                                <input type="text" class="form-control" id="copertina" name="copertina">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Numero Pagine</label>
                                <input type="number" class="form-control" id="nPagine" name="npagine">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Genere</label>
                                <input type="text" class="form-control" id="genere" name="genere">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Scaffale</label>
                                <input type="text" class="form-control" id="scaffale" name="scaffale">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Anno Pubblicazione</label>
                                <input type="number" class="form-control" id="annoPubblicazione" name="annopubblicazione">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Casa Editrice</label>
                                <input type="text" class="form-control" id="casaEditrice" name="casaeditrice">
                            </div>

                            <input type="submit" class="btn btn-primary" value="Inserisci" />
                        </form>

                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">

                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">



                            <!-- Color System -->
                            <div class="row">

                            </div>

                        </div>

                        <div class="col-lg-6 mb-4">

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; BibliotecaWeb Aziendale 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>





</body>

</html>