@model int
@using Biblioteca_Aziendale.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/Login/login.js"></script>
</head>
<body>

    <h2>Accedi o Registrati nella BibliotecaWeb Aziendale</h2>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/Login/Valida">
                <h1>Accedi</h1>

                <input type="text" placeholder="Username" id="user" name="username" required />
                <input type="password" placeholder="Password" id="psw" name="psw" required />
                <button id="signIn">Accedi</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Ciao!</h1>
                    <p>Nuovo membro dell'azienda? Registrati!</p>
                    <button class="ghost" id="signUp" onclick="window.location='/Login/Registrazione'">Registrati</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
