<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="script.js"></script>
    <link rel="stylesheet" href="~/css/login.css">
    <title>Registrati - BibliotecaWeb</title>
</head>
<body>
    <h2>Accedi o Registrati nella BibliotecaWeb Aziendale</h2>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <!-- form registrazione INIZIO -->
            <form action="/Login/Salva" onsubmit="return controlli_Registrazione()">
                <h1>Registrati</h1>
                <span>Inserisci i tuoi dati qui</span>
                <div class="row">
                    <div class="col">
                        <input type="text" id="nome" name="nome" placeholder="Nome" required/>
                    </div>
                    <div class="col">
                        <input type="text" id="cognome" name="cognome" placeholder="Cognome" required/>
                    </div>
                </div>
                <input type="text" id="username" name="username" placeholder="Username" required/>
                <input type="date" id="dob" name="dob" min="1922-01-01" max="2022-12-31" required>
                <input type="text" id="indirizzo" name="indirizzo" placeholder="Indirizzo" required/>
                <div class="row">
                    <div class="col">
                        <input type="password" id="psw" name="psw" placeholder="Password" required />
                    </div>
                    <div class="col">
                        <input type="password" id="psw2" placeholder="Ripeti Password" required/>
                    </div>
                    <div>
                        <input type="hidden" id="ruolo" name="ruolo" value="user" />
                    </div>
                </div>
                <button>Registrati</button>
            </form>
            <!-- form registrazione FINE -->
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Bentornato!</h1>
                    <p>Hai già un account? Accedi!</p>
                    <button class="ghost" id="signin" onclick="window.location='/Login/Index'">Accedi</button>
                </div>
            </div>
        </div>
    </div>

    <script>/*script per la validaione form*/</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>